.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10;
    background-color: aliceblue;
    min-height: 12vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    height: auto;
    display: flex;
    align-items: stretch;
}

#eagle {
    width: 100%;
    border: none;
    padding: 0 !important;
    flex: auto;
    height: 100%;
    padding: 24px;
}


.page {
    position: absolute;
    top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.iframe {
    height: 100%;
    flex: auto;
    padding: 24px;
    width: 100%;
}