/* .navbar {
    position: fixed !important;
    width: 100%;
    border:rgb(18, 116, 202) 2px solid;
    z-index: 10;
} */


#main-content {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}

#carouselExampleIndicators {
    padding: 0;
}


.carousel-inner .carousel-item {
    height: auto;
    overflow: hidden;
}

.carousel-inner .carousel-item img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb-6 {
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.other-row {
    max-height: 100vh !important;
}

.row {
    margin: 0 !important;
    position: relative;
}

.title-box {
    position: absolute;
    z-index: 9;
    border: 10px;
    width: 80%;
    background-color: rgba(240, 248, 255, 0.75);
}

/*
@keyframes slide-background {
    0% {
        background-position: 0 0;  Start position of the background image;
      }
    100% {
        background-position: 100% 0; End position of the background image 
    }
  } */

/* .background-image {
    background-image: url(../images/intro_image.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
} */

/* 
@keyframes slide-background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
} */

.title-text b{
    font-size: 10vh !important;
    opacity: 100% !important;
}

p {
    color: rgb(18, 116, 202);
}

.img-normal {
    max-height: 100vh;
    object-fit: contain;
    width: 100%; 
}

.intro {
    padding: 0;
    margin: 0 !important;
    /* background: linear-gradient(to left top, var(--dullGreen), var(--dullLightGreen)); */
}


img {
    /* box-shadow: 0 0 10px 5px rgb(125, 25, 25); */
    max-height: 100%;
}

#fleur-de-lis {
    background-color: white;
    position: relative;
    top: 0;
}



.help-text {
    height: auto;
}

.help-row {
    height: auto;
}


/* @media (max-width: 768px) {
    .text-sm {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .text-sm {
      font-size: 12px;
    }
} */