.navigation ul {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0;
    
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

nav {
    width: 100%;
    height: 85px;
    margin: 0;
    padding: 0;
    background-color: gray;
    position: fixed;
    z-index: 10;
}

.navigation li {
    flex: auto;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0;
}


a {
    text-decoration: none;
    color: aliceblue;
}

.container {
    display: grid;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    z-index: 9;
    grid-template-rows: 40px 550px 550px 550px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "title"
    "introduction"
    "area_2"
    "area_3";
}

.title {
    grid-area: title;
}

.intro {
    grid-area: introduction;
    display: flex;
    background-color: gray;
}


.intro-img {
    overflow: hidden;
    height: 550px;
    width: auto;
    position: relative;
    left: -40px;
}

.intro-img img{
    width: 100%;
    height: auto;
    clip-path: polygon(0% 0%, 100% 0%, 735px 100%, 0% 100%);
}

.second-point {
    grid-area: area_2;
    display: flex;
    justify-content: flex-end;
    background-color: blue;
}

.second-image {
    overflow: hidden;
    height: 550px;
    width: auto;
    position: relative;
}

.second-img img {
    width: auto;
    height: 100%;
    clip-path: polygon(200px 0%, 100% 0%, 100% 100%, 0% 100%);
}
