.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10;
    background-color: aliceblue;
    min-height: 12vh;
    padding: 0 !important;
}

#hero {
    display: flex;
    background-color: var(--maroon);
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin: 0;
}

#main-content {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 13vh;
    height: 100%;
}

#carouselExampleIndicators {
    padding: 0;
}


.carousel-inner .carousel-item {
    height: auto;
}

.carousel-inner .carousel-item img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb-6 {
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.other-row {
    height: auto;
}

.row {
    margin: 0 !important;
    position: relative;
    display: flex;
    height: auto;
}

.col-12 {
    flex: auto;
}

body {
    margin: 0;
    padding: 0;
}

#title-box {
    position: absolute;
    z-index: 9;
    width: 60%;
    max-height: 100%;
    min-height: 50%;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.75);
    /* overflow-y: auto; */
    box-sizing: content-box;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.title-text b{
    opacity: 100% !important;
}

p {
    font-size: large;
}

.img-normal {
    width: 100%;
    object-fit: contain;
    max-height: 100% !important;
}

.intro {
    padding: 0;
    margin: 0 !important;
}


#fleur-de-lis {
    background-color: white;
    position: relative;
    top: 0;
}

.third {
    height: auto;
}

.help-text {
    height: auto;
}

.help-row {
    height: auto;
}

.values {
    align-self: flex-start;
}

.text-sm {
    color: var(--maroon);
}

.h1 {
    color: var(--maroon) !important;
}

.journey {
    align-self: flex-start;
}

.navbar-nav .nav-link {
    color: var(--maroon) !important;
}

.footer {
    color: #C20808 !important;
    background-color: aliceblue !important;
    padding: 20px 0;
  }
  
.footer a {
    color: #C20808;
}
  
.contact-icons a {
    color: #C20808;
    margin-right: 10px;
    font-size: 24px;
}
  
.contact-info li {
    list-style-type: none;
    margin-bottom: 10px;
}

.contact-info {
    padding-left: 0;
}

@media (max-width: 380px) {
    .hero-text {
      font-size: small;
    }
}

@media (min-width: 600px) {
    .text-sm {
      font-size: larger;
    }
}

@media (max-width: 576px) {
    #title-box {
      width: 75%;
    }
  }