/*css for entire website*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import "bootstrap/scss/bootstrap";


* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header, main, footer {
    font-family: 'Baloo 2', Helvetica, sans-serif;
}